@font-face {
  font-family: "Poppins";
  src: url("webfont.eot"); /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfont.woff") format("woff"),
    /* Pretty Modern Browsers */ url("webfont.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("webfont.svg#svgFontName") format("svg"); /* Legacy iOS */
}

:root {
  --clr-texto-principal: white;
  --clr-texto-secundario: rgb(117, 117, 117);
  --clr-texto-btn-primario: white;
  --fondo-btn-primario: black;
  --fondo-btn-primario-hover: orange;
  --fondo-btn-remarcado: #6effc0;
  --color-remarcado: #6effc0;
  --fondo-btn-remarcado-hover: rgb(175, 134, 0);
  --mensaje-error: red;
}
