@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Poppins Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: var(--clr-principal2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-principal2);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #292929;
}

.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins Semibold";
}

.btn:active {
  transform: translateY(2px);
}

.btn-primario {
  color: var(--clr-texto-btn-primario);
  border: 2px solid linen;
  font-size: 12px;
  background-color: var(--fondo-btn-primario);
}

.btn-remarcado {
  color: var(--clr-texto);
  border: 2px solid linen;
  font-size: 12px;
  background-color: var(--clr-principal2);
}

/* @media only screen and (max-width:414px){
.btn-primario{
    font-size: 12px;
    }
}*/

.btn-remarcado:hover {
  border: 2px solid rgb(210, 210, 210);

}

.btn-primario:hover {
  color: var(--clr-texto-btn-primario-hover);
  border: 2px solid rgb(16, 58, 51);
  background-color: var(--fondo-btn-primario-hover);
}

@media only screen and (max-width: 568px) {
  .boton-remarcado {
    z-index: -900;
  }
}

.borde-rojo {
  border: 1px solid var(--mensaje-error) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}

.encabezado-seccion {
  font-size: 42px;
  text-align: center;
  margin: 25px;
}

.texto-seccion {
  text-align: center;
  font-size: 18px;
}
